@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: "ui-sf";
  src: url("./assets/font/sf-ui-display-medium-58646be638f96.woff");
}

@font-face {
  font-family: "ui-sf-light";
  src: url("./assets/font/sf-ui-display-light-58646b33e0551.woff");
}
